
<div class="container-fluid">
    <div class="row">
      <div class="col-lg-12" id="headerRow">
        <section class="page-header">
          <h1 centered-text id="welcome">
            Your Profile
          </h1>
        </section>
      </div>
    </div>

    <div class="row">
        <img id="listeningImage" src="{{listening.imageUrl.url}}" alt="{{listening.title}} Image" height="360", width="auto">
        <!-- Images coming from Spotify should be square already. -->
        <div id="listeningInformation">
            <h3 class="centered-text">Currently listening to:</h3>
            <p class="centered-text lead" id="listeningTitle">
                {{listening.title}}
            </p>
            <h3 class="centered-text">By:</h5>
            <div id="listeningArtists">
                {{#each listening.artists}}
                    <p class="centered-text lead">
                        {{this}}
                    </p>
                {{/each}}
            </div>
            <h3 class="centered-text">At:</h5>
            <p class="centered-text lead" id="listeningProgressTime">
                {{listening.progressTime}}
            </p>
        </div>
    </div>

    <div class="row" id="contentBuffer"></div>
</div>


<div class="navbar navbar-default navbar-fixed-top row">
  <div class="container-fluid" id="nav1">
  <div class="container-fluid" id="subnav">
    <ul class="nav navbar-nav navbar-right" id"navbar-list">
      <li id="nav-button"><a href="/users/signout">SIGN OUT</a></li>
      <li id="nav-button"><a href="/users/myprofile">PROFILE</a></li>
    </ul>
  </div>
  </div>
</div>
<footer class="footer">
  <div class="container-fluid">
    Currently logged in as {{yourUser}}
  </div>
</footer>
